In [2]:
import pandas as pd

# Load existing dataset
df = pd.read_csv("cleaned_cardiovascular_data.csv")

# Create new glucose categories
df['gluc_1'] = (df['gluc'] == 1).astype(int)
df['gluc_2'] = (df['gluc'] == 2).astype(int)
df['gluc_3'] = (df['gluc'] == 3).astype(int)

df['chol_1'] = (df['cholesterol'] == 1).astype(int)
df['chol_2'] = (df['cholesterol'] == 2).astype(int)
df['chol_3'] = (df['cholesterol'] == 3).astype(int)

# Combine blood pressure values
labels = [0, 1, 2]  # 0:normal, 1:elevated bp, 2:hypertension
df['bp'] = pd.cut(df['ap_hi'], [0, 120, 130, 250], right=False, labels=labels)
df.head(10)

# Drop original cholesterol, glucose, and ap columns
df = df.drop(columns=['cholesterol', 'gluc', 'ap_hi', 'ap_lo'])

# Save updated DataFrame to a new CSV
df.to_csv("final_cardiovascular_data.csv", index=False)

In [7]:
display(df)

,id,age,gender,height,weight,smoke,alco,active,CVD,BMI,gluc_1,gluc_2,gluc_3,chol_1,chol_2,chol_3,bp
0,0,50,2,168,62.0,0,0,1,0,21.967120,1,0,0,1,0,0,0
1,1,55,1,156,85.0,0,0,1,1,34.927679,1,0,0,0,0,1,2
2,2,52,1,165,64.0,0,0,0,1,23.507805,1,0,0,0,0,1,2
3,3,48,2,169,82.0,0,0,1,1,28.710479,1,0,0,1,0,0,2
4,4,48,1,156,56.0,0,0,0,0,23.011177,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63219,99991,54,1,172,70.0,0,0,1,1,23.661439,1,0,0,1,0,0,2
63220,99992,58,1,165,80.0,0,0,1,1,29.384757,1,0,0,1,0,0,2
63221,99993,53,2,168,76.0,1,0,1,0,26.927438,1,0,0,1,0,0,1
63222,99998,61,1,163,72.0,0,0,0,1,27.099251,0,1,0,1,0,0,2
63223,99999,56,1,170,72.0,0,0,1,0,24.913495,1,0,0,0,1,0,1

In [ ]:
cont_cols = ['age', 'height', 'weight', 'ap_hi', 'ap_lo']
ord_cols = ['cholesterol', 'gluc']

for col in ord_cols:
    dummies = pd.get_dummies(cleaned_df[col])
    dummies.columns = ['{0}_{1}'.format(col, ind) for ind in dummies.columns]
    cleaned_df = pd.concat([cleaned_df, dummies], axis=1)
    
cleaned_df.head()